* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

a {
    color: #ba000c;
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}


/* 헤더 로고부분 */


/* 텍스트 색상/사이즈 변경, 높이설정, 왼쪽으로 정렬, 텍스트 두껍게*/

header .logo {
    color: #ba000c;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}


/* 헤더 네비게이션 */


/* 네비게이션 오른쪽으로 정렬 */

header nav {
    float: right;
}


/* 네비게이션 ul flex 정렬 */

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}


/* 네비게이션 리스트 none 설정 */

header nav ul li {
    list-style: none;
}


/* 네비게이션 리스트 a 태그 */


/* 높이 설정, 줄간격 설정, 위아래 패딩설정, 텍스트색상 설정, 하이퍼링크 underline제거, 텍스트두껍게  */

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
}


/* 네비게이션 리스트 a태그 선택시 텍스트색상, 배경색 변경 */

header nav ul li a:hover {
    color: #fff;
    background: #ba000c;
}


/* menu-toggle 기본 설정 */

.menu-toggle {
    color: #ba000c;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/* 메인페이지 이미지 설정 */


/* 높이설정, background설정, 이미지반복x, 위치설정 */

.main_image {
    min-height: 500px;
    background: url("/img/color-3327345_1920.jpg") no-repeat 0;
    background-position: center;
}


/* 검색부분 form 설정 */


/* form 가운데 정렬, margin-top 설정 */

form {
    text-align: center;
    margin-top: 50px;
}


/* form태그 input type="text" 설정 */


/* 너비 80% 설정, 패딩설정, 테두리x, 텍스트스타일/사이즈 변경, 사이즈변경, 테두리둥굴게설정 */

input[type="text"] {
    width: 80%;
    padding: 15px;
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 5px;
}


/* from태그 input type="submit" 설정 */


/* 패딩설정, 테두리x, 텍스트 스타일/사이즈 변경, 배경색/택스트 색상 변경, 테두리둥굴게설정, submit 클릭시 마우스 커서 변경 */

input[type="submit"] {
    padding: 15px;
    border: none;
    font-size: 18px;
    font-family: sans-serif;
    background: #ba000c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* form태그 h1태그 설정 */


/* 텍스트 왼쪽정렬, 위/왼쪽 margin설정, 텍스트 색상 변경 */

form h1 {
    text-align: left;
    margin: 50px 0 0 40px;
    color: #000;
}


/* form태그 h4태그 설정 */


/* 텍스트 왼쪽 정렬, 위/아래/왼쪽 margin설정, 텍스트 색상 변경 */

form h4 {
    text-align: left;
    margin: 10px 0 20px 40px;
    color: #fff;
}


/* PALETTE,notice section text 설정 */


/* 왼쪽/오른쪽/아래 padding 설정, 텍스트 가운데정렬 */

.conB .text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
}


/* PALETTE,notice section h2태그 설정 */


/* margin-top/bottom 설정, 텍스트 사이즈 변경 */

.conB h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}


/* PALETTE,notice p태그 설정 */


/* margin-top/bottom 설정, 텍스트크기 변경 */

.conB p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}


/* PALETTE icon 설정 */


/* margin-bottom 설정, 텍스트크기 변경, 너비/높이설정, 둥글게설정, 가운데정렬, 배경/텍스트색상 변경 */

.conB .icon {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ba000c;
    color: #fff;
}


/* PALETTE,notice 내용부분 container 설정 */


/* paddint-op 설정 */

.conB .container {
    padding-top: 40px;
}


/* PALETTE,notice 내용부분 container p태그 */


/* 가운데정렬, 텍스트사이즈 변경 */

.conB .container p {
    text-align: center;
    font-size: 15px;
}


/* 공지사항 img 설정 */

.text img {
    width: 200px;
    height: auto;
}


/* 공지사항 h1태그 설정*/


/* 왼쪽 여백 설정 */

.notice h1 {
    margin-left: 83px;
}


/* 랭킹부분 디자인 */


/* 랭킹 전체 부분 magin 설정 */

.rank {
    margin: 20px 80px;
}


/*랭킹부분 너비/높이, 위/아래 여백 설정, 위아래 높이는 자동으로 설정 */

.rankContainer {
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding: 0 6px;
    float: left;
    width: 25%;
    margin-bottom: 40px;
}


/* 랭킹부분 p태그 가운데 정렬*/

.rankContainer p {
    text-align: center;
}


/* 랭킹부분 title magint-bottom설정, 텍스트 색상 변경 */

.title {
    margin-bottom: 20px;
    color: #ba000c;
}


/* 랭킹부분 슬라이더 h4태그 왼쪽여백 설정 */

.slider h4 {
    margin-left: 10px;
}


/* 랭킹부분 슬라이더 p태그 왼쪽여백 설정, 왼쪽정렬, 텍스트 크기 설정 */

.slider p {
    margin-left: 10px;
    text-align: left;
    font-size: 12px;
}


/* 랭킹부분 이미지 너비 100%으로 설정, 높이는 자동으로 설정 */

.rankGroup img {
    width: 100%;
    height: auto;
}


/* 리뷰부분 디자인 */


/* 리뷰 전체부분 margin 설정 */

.review {
    margin: 0 80px;
}


/* 리뷰 p태그 텍스트 사이즈 변경 */

.review p {
    font-size: 12px;
}


/* 리뷰 컨테이너 설정*/


/* 왼쪽/오른쪽 padding 설정, 왼쪽나열, 너비 25% 설정, 아래쪽 여백 설정 */

.responsive2 {
    padding: 0 6px;
    float: left;
    width: 25%;
    margin-bottom: 50px;
}


/* 리뷰 테두리설정, margin-top 설정 */

.gallery2 {
    border: 1px solid #ccc;
    margin-top: 20px;
}


/* 리뷰 이미지 너비100% 높이 자동 설정 */

.gallery2 img {
    width: 100%;
    height: auto;
}


/* 리뷰 text부분 padding설정, 왼쪽정렬 */

.des2 {
    padding: 15px;
    text-align: left;
}


/* 리뷰 평점아이콘 색상 설정 */

.des2 .icon {
    color: #ba000c;
}


/* 이벤트부분 디자인 */

.event {
    margin: 10px 80px;
}


/* 이벤트 container 왼쪽/오른쪽/아래 padding 설정, 왼쪽정렬, 너비 50%설정 */

.event-container {
   padding: 0 10px;
    float: left;
    width: 50%;
    padding-bottom: 20px;
}


/* 이벤트 테두리설정, margin-top 설정 */

.event-content {
    margin-top: 20px;
    border: 1px solid #ccc;
}


/* 이벤트 이미지 너비100% 높이 200px 설정 */

.event-content img {
    width: 100%;
    height: 200px;
}


/* 이벤트 텍스트 padding 설정 */

.event-text {
    padding: 15px;
}


/* from태그 input type="submit" 설정 */


/* 패딩설정, 테두리x, 텍스트 스타일/사이즈 변경, 배경색/택스트 색상 변경, 테두리둥굴게설정, submit 클릭시 마우스 커서 변경 */

.event input[type="submit"] {
    padding: 5px;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    background: #ba000c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* 버튼 오른쪽 정렬 */

.button {
    text-align: right;
}


/* footer 부분 디자인*/


/* footer h1 태그 색상변경, 아래여백 설정 */

.footer h1 {
    color: #fff;
    margin-bottom: 30px;
}


/* footer main 디자인*/


/*너비 100%설정, 높이 자동, margin 자동, 배경색설정, 왼쪽/오른쪽 padding설정 */

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 30px 0px;
}


/* footer sns 아이콘 디자인 */


/* 너비 100% 설정, 높이자동, margin 자동설정 */

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}


/* ul태그 margin, padding 0px 설정, 가운데정렬 */

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* 가로정렬, 너비/높이 50px 설정, 왼쪽/오른쪽 여백설정, 둥굴게, 배경색 설정 */

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #fff;
}


/* a태그 색상설정, 크기설정, 높이설정 */

.footer-social-icons ul li a {
    color: #272727;
    font-size: 25px;
    line-height: 50px;
    display: block;
}


/* li태그 선택 시 배경색 설정*/

.footer-social-icons ul li:hover {
    background: #ba000c;
}


/* li태그 선택시 a태그 배경색 설정*/

.footer-social-icons ul li:hover a {
    color: #fff;
}


/*fotter 메뉴 디자인*/


/* 너비 100%, 높이자동, margin자동, margin-top 설정 */

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}


/* ul태그 margin/padding 설정, 가운데 정렬 */

.footer-menu-one ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}


/* li태그 가로정렬, 왼쪽/오른쪽 여백설정 */

.footer-menu-one ul li {
    display: inline-block;
    margin: 0px 15px;
}


/* a태그 텍스트스타일/사이즈/두께 변경, 색상변경, 텍스트 여백설정, 대문자 설정 */

.footer-menu-one ul li a {
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/* a태그 선택시 색상변경*/

.footer-menu-one ul li a:hover {
    color: #ba000c;
}


/* footer bottom 디자인*/
/* 너비100%, 높이자동, margin자동, 배경색설정, padding 설정 */

.footer-bottom {
    width: 100%;
    height: auto;
    margin: auto;
    background: #ba000c;
    padding: 10px;
}


/* p태그 텍스트사이즈 변경, 색상변경, 텍스트 여백설정, 가운데 정렬 */
.footer-bottom p {
    font-size: 9px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
}


/*미디어 쿼리*/

@media(max-width:991px) {
    /*   헤더부분 왼쪽/오른쪽 패딩설정  */
    header {
        padding: 0 20px;
    }
    /*  네비게이션 menu-toogle 표시하기  */
    .menu-toggle {
        display: block;
    }
    /* 네비게이션 왼쪽에서 나타나게 설정하기  */
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh-50px);
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active {
        left: 0;
    }
    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        background: #ba000c;
        border-bottom: 1.2px solid;
    }
    /*  랭크부분 왼/오른쪽 여백 설정   */
    .rank {
        margin: 0 50px;
    }
    /*  공지부분 h1태그 왼쪽 여백설정   */
    .notice h1 {
        margin-left: 50px;
    }
}


/* 태블릿PC화면 디자인 */

@media (max-width:852px) {
    /*  랭킹부분 4개->2개씩 표시하게 설정하기   */
    .rankContainer {
        width: 50%;
        margin: 10px 0;
        margin-bottom: 30px;
    }
    /*  리뷰부분 4개->2개씩 표시하게 설정하기   */
    .responsive2 {
        width: 50%;
        margin: 0;
        margin-bottom: 30px;
    }
    /*  이벤트 텍스트 p태그 텍스트 사이즈 변경   */
    .event-text p {
        font-size: 12px;
    }
    /*  이벤트부분 2개->1개씩 표시하게 설정하기  */
    .event-container {
        width: 100%;
        margin: 10px 0;
    }
}

@media(max-width:678px) {

/*  form 태그 margin 0으로 설정  */
    form {
        margin: 0;
    }
/*  form h1,h4태그 표시x  */
    form h1,
    h4 {
        display: none;
    }

/*  input type="text" 디자인 설정  */
/*  너비 80% 설정, margin-top설정, 둥굴게 설정, padding 설정  */
    input[type="text"] {
        width: 80%;
        margin-top: 30px;
        border-radius: 5px;
        padding: 10px;
    }

/*  input type="submit" 디자인 설정  */
/*  margin-top설정, 둥굴게 설정, padding 설정  */
    input[type="submit"] {
        border-radius: 5px;
        margin-top: 5px;
        padding: 10px;
    }

/*  main 이미지 높이 250px로 설정하여 크기 변경하기  */
    .main_image {
        min-height: 250px;
    }
}



/* 모바일 화면 디자인 */
@media (max-width:488px) {

/*  공지사항 영역 margin,padding 0으로 설정  */
    .notice {
        margin: 0;
        padding: 0;
    }

/*  공지사항 h1태그 왼쪽여백 없애고 가운데정렬  */
    .notice h1 {
        margin-left: 0;
        text-align: center;
    }
/*  PALETTE소개부분, 공지사항 디자인  */
/*  가로정렬하기  */
    .text {
        display: flex;
    }

/*  왼쪽/오른쪽 padding 0으로 변경, padding-bottom 설정, 가운데 정렬  */
    .conB .text {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }
/*  이미지 너비/높이 100px로 설정  */
    .text img {
        width: 100px;
        height: 100px;
    }

/*  p태그 왼쪽 여백설정, 왼쪽정렬, 텍스트 사이즈 변경 */
    .conB .container p {
        margin-left: 2px;
        text-align: left;
        font-size: 12px;
    }

/*  공지사항 container 왼쪽정렬  */
    .text-container {
        text-align: left;
    }

/* PALETTE 소개 부분 왼쪽정렬 왼쪽 여백 설정 */
    .main-container {
        text-align: left;
        margin-left: 20px;
    }
/*  공지사항 전체영역 margin 0, padding 20px 설정  */
    #notice-con {
        margin: 0;
        padding: 20px;
    }

/*  PALETTE 소개 부분, 공지사항부분 위/아래 여백 설정 , 왼쪽/오른쪽 여백 설정  */
    .container {
        margin: 20px 40px;
    }

/*  랭킹부분 margin, padding 설정 가운데 정렬  */
    .rank {
        margin: 0;
        padding: 0;
        text-align: center;
    }

/*  랭킹 타이틀 아래 여백 설정  */
    .title {
        margin-bottom: 5px;
    }

/*  랭킹 p태그 가운데 정렬  */
    .rankGroup p {
        text-align: center;
    }

/*  랭킹 전체 container 디자인  */
/*  paddig 0으로 설정 , 위 여백설정, 가운데정렬 , 너비100%, 높이200px 설정  */
    .rankContainer {
        padding: 0;
        margin-top: 20px;
        text-align: center;
        width: 100%;
        height: 200px;
    }

/*  랭킹 이미지 너비 100px, margin 자동으로 설정  */
    .rankContainer img {
        width: 100px;
        margin: auto;
    }

/*  리뷰영역 padding,margin 0으로 설정  */
    .review {
        padding: 0;
        margin: 0;
    }

/*  리뷰영역 h1태그 가운데정렬  */
    .review h1 {
        text-align: center;
    }

/*  리뷰 텍스트 영역 디자인  */
/*  margin 0으로 설정, paddig 위/아래 0, 왼쪽/오른쪽 설정, 왼쪽으로 나타내기, 너비100%, 아래여백10px 설정  */
    .responsive2 {
        margin: 0;
        padding: 0 6px;
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }

/*  랭킹부분 이미지영역 왼쪽으로 나타내기, margin 설정하기  */
    .gallery2 {
        margin: 20px;
        display: flex;
    }

/*  랭킹부분 이미지 위쪽 여백 설정, 너비 100px 설정하기  */
    .gallery2 img {
        margin-top: 40px;
        width: 100px;
    }

/*  랭킹부분 텍스트 p태그 텍스트 사이즈 변경  */
    .des2 p {
        font-size: 13px;
    }

/*  이벤트부분 margin,padding 0으로 설정  */
    .event {
        margin: 0;
        padding: 0;
    }

/*  이벤트 부분 h1태그 가운데 정렬  */
    .event h1 {
        text-align: center;
    }
/*  이벤트 부분 텍스트 표시x  */
    .event-text {
        display: none;
    }

/*  이벤트 부분 전체 container 너비 100%, padding 0으로 설정  */
    .event-container {
        width: 100%;
        padding: 0px;
    }

/* 이벤트 부분 content 위쪽 여백 0으로 설정   */
    .event-content {
        margin-top: 0px;
    }

/*  이벤트 부분 이미지 너비100%, 높이 200px 설정  */
    .event-content img {
        width: 100%;
        height: 200px;
    }

}

@media (min-width:736px) {

/*   PALETTE소개, 공지사항 부분  */
/*   가로로 나타내기, 최대너비 1000px로 설정, 왼쪽/오른쪽 여백 자동으로 설정  */
    .conB .container {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .conB .text {
        flex: 1;
    }
}
